@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    --left-color : rgb(49, 128, 201);
    --grey-background: #c9c7c9;
    --white: rgb(255, 255, 255);
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.container-left {
    background-color: var(--left-color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px;
}

.dashboard {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.dashboard .icon {
    width: 2.5rem;
}

.navigation, .account {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
}

.option {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container-right {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.container-right img {
    border-radius: 50%;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    padding: 25px;
}

.header, .greeting {
    display: grid;
    grid-template-columns: 60% 40%;
}

.search, .notification, .greeting-left, .greeting-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search input {
    flex: 1;
    background-color: var(--grey-background);
    border: none;
    border-radius: 50px;
    padding: 10px;
}

.notification {
    justify-content: center;
    gap: 20px;
    font-weight: bold;
}

.greeting-left img{
    width: 50px;
}

.greeting-left .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.greeting-right {
    justify-content: space-evenly;
}

.greeting-right button {
    background-color: var(--left-color);
    color: var(--white);
    font-weight: bold;
    padding : 10px 20px;
    border: none;
    border-radius: 50px;
}

.main {
    background-color: var(--grey-background);
}