@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.container-left {
    background-color: rgb(49, 128, 201);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px;
}

.dashboard {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.dashboard .icon {
    width: 3rem;
}

.navigation, .account {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
}

.container .option {
    display: flex;
    align-items: center;
    gap: 15px;
}