@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.container-left {
    background-color: #4292c6;
    color: white;
}

.icon {
    fill: white;
    stroke: white;
}